/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/*code block */
code {
  color: #ffa500;
}

/* Home Page Wrapper */
.homeContainer {
  background: #f0ffff;
}
/* Main Wrapper */
.docMainWrapper {
  background: #f0ffff;
}

.navigationSlider .slidingNav {
  background: #563d7c;
}
.navigationSlider .slidingNav ul {
  background: #563d7c;
}

/* footer CSS config */
#footer {
  padding-bottom: 15px;
}
.nav-footer .sitemap {
  margin-bottom: 2em;
}
.nav-footer .sitemap .nav-home {
  padding: 5px;
}

/*back to top backgroud set*/
#back-to-top {
  background: #563d7c;
}
